---
import PurpleBadge from "@ui/badges/PurpleBadge.astro";
import GreenBadge from "@ui/badges/GreenBadge.astro";
import Card from "@ui/cards/Card.astro";
import type { TimelineModel } from "./Timeline.model";
import GrayBadge from "@ui/badges/GrayBadge.astro";
import Subtitle from "@features/common/Subtitle.astro";
import ExternalLinkButton from "@ui/buttons/ExternalLinkButton/ExternalLinkButton.astro";

interface Props {
    model: TimelineModel;
}

const { model } = Astro.props;
---

<div class="flex w-full timeline-card">
    <div class="relative flex gap-3 w-full">
        <!--  Line & Point  -->
        <div
            class="timeline-point flex flex-col relative items-center w-5 pr-5"
        >
            <!-- Point -->
            <div
                class="w-5 h-5 absolute top-6 dark:bg-purple-700 bg-purple-600 rounded-full"
            >
            </div>
            <!-- Line -->
            <div
                class=`time-line w-px h-full bg-[--secondary-border-color] ${model.ACTUAL && 'mt-6'}`
            >
            </div>
        </div>
        <div class="w-full">
            <!-- Date -->
            <div
                class="timeline-badges flex-row pb-5 pl-2 pt-6 flex gap-2 justify-start"
            >
                <div>
                    <PurpleBadge>{model.DATE}</PurpleBadge>
                </div>

                {
                    model.ACTUAL ? (
                        <div class="relative">
                            <GreenBadge>Actual</GreenBadge>
                        </div>
                    ) : (
                        <div>
                            <GrayBadge>{model.DURATION}</GrayBadge>
                        </div>
                    )
                }
            </div>
            <!-- Card -->
            <div class="pb-10">
                <Card padding="1rem">
                    <div class="relative z-20 p-4">
                        <!--  Name of company  -->
                        <div class="flex items-center justify-between mb-3">
                            <Subtitle>
                                {model.TITLE}
                            </Subtitle>

                            {
                                model.URL && (
                                    <ExternalLinkButton
                                        href={model.URL}
                                        title={model.TITLE}
                                        text="Ver sitio web"
                                        class="text-violet-600 dark:text-violet-400 hover:text-violet-700 dark:hover:text-violet-300 rounded-md hover:bg-violet-50 dark:hover:bg-violet-900/30"
                                    />
                                )
                            }
                        </div>

                        <!--  Text  -->
                        <p>
                            {model.DESCRIPTION}
                        </p>

                        {
                            model.JOBPOSITIONS && (
                                <ul>
                                    {model.JOBPOSITIONS.map((position) => (
                                        <li class="my-1">
                                            <details>
                                                <summary class="cursor-pointer select-none">
                                                    <span class="text-orange-500 font-bold">
                                                        +
                                                    </span>
                                                    <span class="font-semibold">
                                                        {position.POSITION}{" "}
                                                        {position.DURATION &&
                                                            `(${position.DURATION})`}
                                                    </span>
                                                </summary>
                                                <p class="ml-4">
                                                    <small class="opacity-80 inline-block">
                                                        <span class="text-yellow-600 font-bold">
                                                            -
                                                        </span>
                                                        {position.DESCRIPTION}
                                                    </small>
                                                </p>
                                            </details>
                                        </li>
                                    ))}
                                </ul>
                            )
                        }
                    </div>
                </Card>
            </div>
        </div>
    </div>
</div>

<style>
    .timeline-card:last-child:has(.time-line) .time-line {
        margin-bottom: 2.8rem;
    }

    .card-title {
        color: var(--secondary-color);
    }

    @media (width <= 360px) {
        .timeline-point {
            display: none;
        }
        .timeline-badges {
            justify-content: center;
            padding-left: 0;
        }
        .card-title {
            text-wrap: balance;
        }
    }
</style>
